:root {
    --main: #051821;
    --rock: #1a4645;
    --paper: #266867;
    --scissors: #f58800;
    --lizard: #f8bc24;
    --spock: #F66747;
    --background: #fbf3f2;

}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p, 
section {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main);
    background: linear-gradient(var(--main), var(--rock));
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    border-radius: 12px;
    background-color: var(--background);
    padding: 2em;
    margin: 3em 5em;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .1);
}

h1 {
    margin: 0;
    font-size: calc(100% + 2vw); /*3em;*/
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

i {
    font-size: calc(100% + 4vw);/*5rem;*/
    
}

button {
    border: none;
    background-color: transparent;
}

button:hover, button:focus-within {
    cursor: pointer;
}

#rock {
    color: var(--rock);
}

#paper {
    color: var(--paper);
}

#scissors {
    color: var(--scissors);
}

#lizard {
    color: var(--lizard);
}

#spock {
    color: var(--spock);
}

#result {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}

.computer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.competitors {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1.6em;
}

.computer i {
    color: transparent;
}

.icon-circle, .icon-circle-button { /*set size of bigger circle, computer*/
    padding: 1.5em;
    border-radius: 50%;
}

.rock.icon-circle-button:hover, .rock.icon-circle-button:focus-within {
    background-color: var(--rock);
}
.paper.icon-circle-button:hover, .paper.icon-circle-button:focus-within {
    background-color: var(--paper);
}
.scissors.icon-circle-button:hover, .scissors.icon-circle-button:focus-within {
    background-color: var(--scissors);
}
.lizard.icon-circle-button:hover, .lizard.icon-circle-button:focus-within {
    background-color: var(--lizard);
}
.spock.icon-circle-button:hover, .spock.icon-circle-button:focus-within {
    background-color: var(--spock);
}

.rock.icon-circle { /* gives color to the bigger circle, both computer and person */
    background-color: var(--rock);
}

.paper.icon-circle {
    background-color: var(--paper);
}

.scissors.icon-circle {
    background-color: var(--scissors);
}

.lizard.icon-circle {
    background-color: var(--lizard);
}

.spock.icon-circle {
    background-color: var(--spock);
}

.inner-circle { /* set size of bigger, smaller circle person */
    background-color: var(--background);
    border-radius: 50%;
    padding: 1em;
}

.button-container .icon-circle-button { 
    padding: 0.5em;
}

/* the modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: inline;
    border: none;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all ease 1s; /* try this... */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    width: 80%; 
  }

  .final-score-report {
    display: flex;
    gap: 4em;
    justify-content: center;
    align-items: center;
    padding: 4em;
  }

  .final-score-report h2 {
    font-size: 6em;
    text-transform: uppercase;
    color: var(--paper);
  }

  .inner-score-report {
    text-align: center;
  }

  .final-score-report i {
    font-size: 8rem;
    color: var(--paper);
  }

  .final-score-report p {
    font-weight: 700;
    color: var(--paper);
  }

  @media (max-width: 850px) {
    main {
        flex-direction: column;
        
    }
    .competitors {
        gap: 1em;
    }

    .text-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {

    .competitors {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .computer, .button-container {
        flex-direction: column;
        align-items: center;
    }
    .final-score-report {
        gap: 2em;
    }
}